<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <wishreward_settings>
            <general>
                <enable_module>1</enable_module>
                <winning_coupon_email_template>doroshko_wishreward_winning_coupon_email_template</winning_coupon_email_template>
            </general>
        </wishreward_settings>
    </default>
</config>