<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Doroshko\SpinReward\Api\Data\WheelInterface" type="Doroshko\SpinReward\Model\Wheel" />
    <preference for="Doroshko\SpinReward\Api\WheelRepositoryInterface" type="Doroshko\SpinReward\Model\WheelRepository" />
    <preference for="Doroshko\SpinReward\Api\SpinAnalyticsRepositoryInterface" type="Doroshko\SpinReward\Model\Analytics\SpinAnalyticsRepository"/>
    <preference for="Doroshko\SpinReward\Api\EmailSenderInterface" type="Doroshko\SpinReward\Model\EmailSender"/>
    <preference for="Doroshko\SpinReward\Api\SpinAnalyticsProviderInterface" type="Doroshko\SpinReward\Model\Analytics\SpinAnalyticsProvider" />
    <preference for="Doroshko\SpinReward\Api\SpinLimitValidatorInterface" type="Doroshko\SpinReward\Model\SpinLimitValidator" />

    <type name="Doroshko\SpinReward\Model\WheelRepository">
        <arguments>
            <argument name="resource" xsi:type="object">Doroshko\SpinReward\Model\ResourceModel\Wheel</argument>
            <argument name="wheelFactory" xsi:type="object">Doroshko\SpinReward\Model\WheelFactory</argument>
            <argument name="collectionFactory" xsi:type="object">Doroshko\SpinReward\Model\ResourceModel\Wheel\CollectionFactory</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManager</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session</argument>
            <argument name="timezone" xsi:type="object">Magento\Framework\Stdlib\DateTime\Timezone</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>
    <type name="Doroshko\SpinReward\Model\SpinLimitValidator">
        <arguments>
            <argument name="analyticsProvider" xsi:type="object">Doroshko\SpinReward\Model\Analytics\SpinAnalyticsProvider</argument>
            <argument name="wheelRepository" xsi:type="object">Doroshko\SpinReward\Model\WheelRepository</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>
</config>
