<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Doroshko\SpinReward\Model\CouponGenerator">
        <arguments>
            <argument name="couponFactory" xsi:type="object">Magento\SalesRule\Model\CouponFactory</argument>
            <argument name="dateTime" xsi:type="object">Magento\Framework\Stdlib\DateTime\DateTime</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>

    <type name="Doroshko\SpinReward\Model\Wheel\DataProvider">
        <arguments>
            <argument name="request" xsi:type="object">Magento\Framework\App\Request\Http</argument>
        </arguments>
    </type>

    <type name="Doroshko\SpinReward\Model\WheelRepository">
        <arguments>
            <argument name="layout" xsi:type="object">Magento\Framework\View\LayoutInterface\Proxy</argument>
        </arguments>
    </type>

    <preference for="Doroshko\SpinReward\Api\Data\WheelInterface" type="Doroshko\SpinReward\Model\Wheel" />
    <preference for="Doroshko\SpinReward\Api\WheelRepositoryInterface" type="Doroshko\SpinReward\Model\WheelRepository" />
</config>