<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Doroshko_SpinReward::main"
            title="Spin Reward"
            module="Doroshko_SpinReward"
            sortOrder="55"
            resource="Doroshko_SpinReward::main" />

        <add id="Doroshko_SpinReward::config"
            title="Configuration"
            module="Doroshko_SpinReward"
            sortOrder="60"
            parent="Doroshko_SpinReward::main"
            action="adminhtml/system_config/edit/section/wishreward_settings"
            resource="Doroshko_SpinReward::config" />

        <add id="Doroshko_SpinReward::wheels" 
            title="Spin Reward Wheels"
            module="Doroshko_SpinReward"
            sortOrder="40"
            parent="Doroshko_SpinReward::main"
            action="wishreward/wheel/index"
            resource="Doroshko_SpinReward::wheels"/>

        <add id="Doroshko_SpinReward::analytics"
            title="Spin Reward Analytics"
            module="Doroshko_SpinReward"
            sortOrder="50"
            parent="Doroshko_SpinReward::main"
            action="wishreward/analytics/index"
            resource="Doroshko_SpinReward::analytics"/>
    </menu>
</config>
