<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wishreward" translate="label" sortOrder="100">
            <label>Wish Reward</label>
        </tab>
        <section id="wishreward_settings" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Wish Reward Settings</label>
            <tab>wishreward</tab>
            <resource>Doroshko_WishReward::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable_module" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!-- <field id="winning_coupon_email_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Winning Coupon Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Select the email template for sending winning coupon notifications.</comment>
                    <validate>required-entry</validate>
                </field> -->
            </group>
        </section>
    </system>
</config>
